.bulb {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.bulbOn {
  composes: bulb;
  background-color: hsl(50, 50%, 80%);
}

.bulbOff {
  composes: bulb;
  background-color: hsl(30, 50%, 60%);
}

.bulbHint {
  filter: 
    drop-shadow(1px 1px 7px hsl(40, 70%, 80%, 50%))
    drop-shadow(1px -1px 7px hsl(40, 70%, 80%, 50%))
    drop-shadow(-1px 1px 7px hsl(40, 70%, 80%, 50%))
    drop-shadow(-1px -1px 7px hsl(40, 70%, 80%, 50%));
}

.bulbHint:hover {
  filter: 
    drop-shadow(1px 1px 7px hsl(40, 70%, 85%, 60%))
    drop-shadow(1px -1px 7px hsl(40, 70%, 85%, 60%))
    drop-shadow(-1px 1px 7px hsl(40, 70%, 85%, 60%))
    drop-shadow(-1px -1px 7px hsl(40, 70%, 85%, 60%));
}